body {
    font-family: Arial, sans-serif;
    background-color: #dbe2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-form-container {
    display: flex;
    background-color: #f9f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 800px;
    width: 100%;
   
}

.form-left {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.form-left .icon {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.form-left h1 {
    padding: 2px;
    font-size: 1.8rem;
    margin: 10px 0;
    color: #333333;
}

.form-left p {
    padding: 3px;
    text-align: justify;
    font-size: 1rem;
    color: #666666;
}

.form-right {
    flex: 1;
    margin-top: 6rem;
    margin-left: 10px;
    padding: 5px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-field {
    flex: 1;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #ffffff;
}

textarea.input-field {
    width: calc(100% - 30px);
    height: 100px;
    resize: vertical;
}

.hidden {
    display: none;
}

.btn {
    background-color:#a0b9ea;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3f72af;
}

/* panda popup  */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -80px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
